{% extends "layout.html" %} {% block body %}

<div id="navbar" class="navbar navbar-default navbar-fixed-top">
</div>
<div id="content">
<div id="map-canvas" class="col-sm-8" style="display: block; border:5px solid black;">
	<h1> MAP </h1>
	<script type="text/javascript">
		var map;

		function initMap() {
		var	myLatlng = new google.maps.LatLng(40.705189,-74.009209);
			map = new google.maps.Map(document.getElementById('map-canvas'), {
				center: myLatlng,
				zoom: 16,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			var marker = new google.maps.Marker({
        position: myLatlng,
        title:"Hello World!"
    });
    // Add the marker to the map by calling setMap()
    marker.setMap(map);
		}
	</script>




	<script async defer src="https://maps.googleapis.com/maps/api/js?key=APKKEY&callback=initMap">
	</script>


</div>
<div id="right-col" class="col-sm-4" >
	<div class=" panel panel-default" >

		<h3>Restaurants</h3>
		<select>
			{% for restaurant in restaurants %}
			<option>{{restaurant.name}}</option>
			{% endfor %}
		</select><div class="btn-sm-circle">x</div>

		<h3>Hotels</h3>
		<select>
			{% for hotel in hotels %}
			<option>{{hotel.name}}</option>
			{% endfor %}
		</select><div class="btn-sm-circle">x</div>

		<h3>Activities</h3>
		<select>
			{% for activity in activities %}
			<option>{{activity.name}}</option>
			{% endfor %}
		</select><div class="btn-sm-circle">x</div>
	</div>

	<div id="itinerary" >
		<h2> Day2 </h2>
		<div id="itinerary-background" class="panel panel-default" >
			<div id="itinerary-top">

					<div class="btn-circle">1</div>
					<div class="btn-circle">2</div>
					<div class="btn-circle">3</div>

			</div>

		</div>

	</div>
</div>
</div>


{% endblock %}
